{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{template "title" .}} - EskiSözlük</title>
<link rel='stylesheet' href='/static/css/reset.css'>
<link rel='stylesheet' href='/static/css/main.css'>

</head>

<body>
    <div class="container">
        <div class="left">
            <div class="list">
                <h2 id="list-id">gündem</h2>
                    <ul>
                        {{template "list" .}}
                    </ul>
            </div>
            <div class="left-footer">
                {{template "footer" .}}
            </div>
        </div>
        <div class="right">
            <div class="entry">
                {{template "entry" .}}
            </div>

            <div class="new-entry">
                {{template "new-entry" .}}                
            </div>
            <div class="right-footer">
                {{template "footer" .}}
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>

</html>
{{end}}