{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "list"}}
    {{range $element := .Topics}}
    <li>
        <a href="/topic?name={{$element}}">{{$element}}</a>
    </li>
    {{end}}
{{end}}

{{define "entry"}}
    <a href='/topic?name={{.Entry.Title}}' id="entry-title">{{.Entry.Title}}</a>
        <p id="entry-content">{{.Entry.Content}}</p>
        <p id="entry-author">({{.Entry.User}} {{humanDate .Entry.Created}} )</p>
        <div class="clear"></div>
{{end}}