{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "list"}}
    {{range $element := .Topics}}
    <li>
        <a href="/topic?name={{$element}}">{{$element}}</a>
    </li>
    {{end}}
{{end}}

{{define "entry"}}
    <a href='/topic?name={{.Entry.Title}}' id="entry-title">{{.Entry.Title}}</a>   
    {{range .Entries}}
        <p id="entry-content">{{.Content}}</p>
        <p id="entry-author">({{.User}} {{.Created}} )</p>
        <div class="clear"></div>
    {{end}} 
{{end}}